body{
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/*bloco do conteudo centralizado*/
.conteudo{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 25px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
    
}

/*cabecalho*/
.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
}
#title{
    font-size: 15px;
    color: #fff;
    font-family: 'Times New Roman';
}


.topo input{
    width: 358px;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #191818;
    outline: none;
    font-size: 1rem;
    background: #191818;
    color: #fff;
    font-style: italic;
}

/*butão de adcionar tarefa*/

.topo #btnAddTarefa{
    width: 48px;
    border-radius: 12px;
    border: 1px solid #312f2f;;
    background: #191818;
    color: #fff;
    outline: none;
    height: 52px;
    margin-right: 1.5px;
    margin-left: 3px;
    
}
.topo #btnAddTarefa:hover{
    transition: 1s;
    background: #256132;
    cursor: pointer;
}
.topo #btnExcluirTarefas{
    width: 48px;
    border-radius: 12px;
    border: 0.7px solid #312f2f;;
    background: #191818;
    color: #fff;
    outline: none;
    height: 52px;
    margin-left: 1.5px;
    margin-right: -1px;
    
}
.topo #btnExcluirTarefas:hover{
    transition: 1s;
    background: #a30e0e;
    cursor: pointer;
}



/*Lista de tarefas*/
#listaTarefas{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#listaTarefas li{
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.btnAcao{
    border-radius: 20px;
    border: 3px solid #191818;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #e4d3d3;
}
.btnAcao:hover{
    background: #3c3a3c;
}
.btnAcao#pencil:hover{
    background: #4e6eb3;
    color: #ffffff;
}
.btnAcao#trash:hover{
    background: #8a2020;
    color: #ffffff;
}

.textoTarefa{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}
/*Janela de Edição*/

#janelaEdicao{
    position: fixed;
    top: 20%;
    left: 31.4%;
    transform: translate(-50%), -50%;
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 450px;
    border-radius: 12px;
    z-index: 200;
    display: none;    
}
#janelaEdicao.abrir{
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;

}
#janelaEdicaoFundo.abrir{
    display: block !important;
}

/*Botão de fechar*/

#janelaEdicaoBtnFechar{
    position: absolute;
    top: -19px;
    right: -11px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #fff;
    outline: none;
    cursor: pointer;
}


form{
    width: 100%;
    margin-top: 20px;
}
.frm_linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

/*caixa de entrada*/

.frm_linha label{
    margin-bottom: 7px;
}
.frm_linha input{
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #fff;
}

/*botão se salvar*/

.frm_linha button{
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #ccc;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}
.frm_linha button:hover {
    background: #3c3a3c;
    border: 2px solid #2f2e2e;
}



